.active, .active:hover, .active a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    visibility: collapse;
    display: none;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.popover.open {
    display: block;
}
.popover {
    display: none;
    list-style: none;
}