.active, .active:hover, .active a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.absolute-right {
    position: absolute;
    right: 0;
}

#top-bar {
    border-bottom: solid 1px #D1D1D1;
    height: 45px;
    line-height: 45px;

}

.disabled, .disabled:hover {
    color:#D1D1D1;
    text-decoration: none;
    cursor: not-allowed;
}

.hidden {
    visibility: collapse;
    display: none;
}

#indicator {
    font-size: 20px;
    margin-right: 10px;
}

.fa-refresh {
    color: green;
}

.fa-minus-circle, .fa-exclamation-triangle {
    color: red;
}

.my-spin {
    -webkit-animation: my-spin 1s infinite linear;
    animation: my-spin 1s infinite linear;
}

@-webkit-keyframes my-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes my-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.my-wave {
    -webkit-animation: my-wave 1s infinite linear;
    animation: my-wave 1s infinite linear;
    -webkit-transform-origin: center 23px;
    transform-origin: center 23px;
}

@-webkit-keyframes my-wave {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}
@keyframes my-wave {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

#top-bar * {
    display:inline-block;
}

a[data-popover]{
    cursor: pointer;
}

.popover.open, .popover.open li  {
    display: block !important;
}
.popover  {
    display: none !important;
    list-style: none;
    padding: 5px;
    margin-top: 35px;
    line-height: 25px;
    background-color: white;
    white-space: nowrap;
}

#todo-list {
    list-style: none;
}

#todo-list li {
    position: relative;
    border-bottom: 1px solid #ededed;
}

#todo-list li:last-child {
    border-bottom: none;
}

#todo-list li label {
    white-space: pre-line;
    word-break: break-all;
    padding: 15px 25px;
    margin-bottom: 0;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

#todo-list li.complete label{
    text-decoration: line-through;
    color: #D1D1D1
}

#todo-list li .edit {
    display: none;
    margin: 15px 25px;
    width:90%;
    /*margin-bottom: 15px;
    margin-top: 15px;*/
}

#todo-list li.editing .edit {
    display: inline-block;
}

#todo-list li.editing .view {
    display: none;
}

#todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#todo-list li .destroy,.done {
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0px;
    width: 15px;
    height: auto;
    margin: auto 0;
    padding:0;
    font-size: 15px;
    color: #D1D1D1;
    transition: color 0.2s ease-out;
}

#todo-list li .destroy {
    display: none;
    right: 0;
 }

#todo-list li .done:hover,.done:focus {
    color: #D1D1D1;
}

#todo-list li .done {
    left: 0;
}

#todo-list li .done:after {
    font-family: FontAwesome;
    content: "\f00c";
}
#todo-list li .destroy:after {
    font-family: FontAwesome;
    content: "\f00d";
}

#todo-list li.complete .done {
    color: green;
}

#todo-list li .destroy:hover {
    color: red;
}



#todo-list li:hover .destroy {
    display: block;
}

#noti {
    position: absolute;
    margin-left: 35px;
    margin-top: 25px;
    display: block;
    z-index: 1000;
}

.notification {
    padding: 15px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 15em;
    word-wrap: break-word;
}

.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
button.square {
    width: 38px;
    padding: 0;
}

button.square i{
    vertical-align: middle;
}